
  <br><br>
  <div class="container" *ngIf="roomDetails">
      <div   *ngFor="let rooms of roomDetails">
        <div class="row" *ngIf="!rooms.flagDeletedRooms">
          <div class = "col-md-8">
            <ul>
              <li class="listHotels">
                  <a href="javascript:void(0);" (click)="onSelect(rooms)"><h2>{{rooms.roomType}}</h2></a>
                  <img [src]="rooms.photos | SanitizeHtmlPipe" class="imageSize">
                  <br>
                  Description: {{rooms.description}}
                  <br>
                  Price: {{rooms.price}}$
                  <br> 
                  
                  <br>
              </li>
            </ul>
          </div>   
            <div class = "col-md-2" *ngIf="access">
                <br><br>
              <input type="button" (click)= "deleteRoom(rooms._id)" value ="Delete" class="btn btn-outline-danger">
            <br><br>
            </div>
    
            <div class = "col-md-2" *ngIf="access">
                <br><br>
                <input type="button" (click)= "updateHotels(rooms._id)" value ="Update" class="btn btn-outline-danger">
              <br><br>
            </div>
            
              
      </div>
    </div>
  </div>
  