/* You can add global styles to this file, and also import other style files */
.upassWidth{
    width: 500px;
}

.loginSignContainer{
    margin:0 auto;  
    width: 250px; 
}
.search{
    margin:0 auto;
    width: 500px;
}

.searchWidth{
    
    width: 500px;
}

.title{
    text-align: center;
    margin-top: 100px;
}

.landingPageImage{
    width: 100%;
    height: 100%;
    
}

.jumbotron{
    margin-top: 20px;
    background-image: url("./assets/images/homepagebackground.jpg");
    background-size: cover;

}
.imageSize{
    height:300px;
    width:400px;
}

.allignInput{
    margin: auto;
    width: 100%;
}