<!DOCTYPE html>
<html>
<head>

<title>OnlineHotelReservation</title>

<style>
.anchorAlign {
    font-size: 20px;
    text-decoration: none;
}
h1{
    text-align: center;
    font-size: 50px;
    color: #4B1E8B;
    font-family: Georgia, serif;
    font-weight: normal;
    margin-top: 100px;
}
form {
    margin-top: 50px;
    margin-left: 55px;
    color: #4B1E8B;
    display: inline-block;
    padding: 30px;
}
::-webkit-input-placeholder{
    text-align: center;
    
}
.size{
    width: 550px;
    height: 30px;
}
body { text-align: center; 
    background-color: #F2F2F2;
}
a{
    top: 10px;
    left: 0px;
}
</style>
<body>

