
<div class = "container">
    <h2>User Profile:</h2>

    Name: {{name}}
    <br><br>
    User Name: {{userName}}
    <br><br>
    <form (submit) = "login()">
                  
      <input type="submit" class="btn btn btn-success" value="Order-History">
    </form>
    <br><br>
    <form (submit) = "login()">
                  
        <input type="submit" class="btn btn btn-success" value="Wish-List">
    </form>
    
    <p *ngIf = "message1; else ">UserName or Password is incorrect</p>
    </div>