<% include partials/header.ejs %>

<h1>YoYo Hotels</h1>

<form method="POST" action="/">
        
        <input type="text" name="query" class = "size" placeholder="Enter City"/>
        <input type="submit" name="submit" />
</form>

<% include partials/footer.ejs %>