<% include partials/header.ejs %>

<h1>Online Hotel Reseavation</h1>

<p>Login</p>
<form method="POST" action="/api/login">
        
        <input type="text" name="userName" class = "size" placeholder="User Name"/>
        <input type="password" name="password" class = "size" placeholder="Password"/>
        <input type="submit" name="submit" />
</form>

<a href="/api/signUpPage" class = "anchorAlign">Sign Up</a>
<% include partials/footer.ejs %>