<% include partials/header.ejs %>

<h2>Login Error</h2>
<p>UserName or Password is wrong</p>

<a href="/api" class = "anchorAlign">Click to go back to Login Screen</a>

<% include partials/footer.ejs %>

