
<!DOCTYPE html>
<html lang="en">
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="./public/jquery/formValidation.js"></script>
    <script src="./public/jquery/checkUnameExistsAjax.js"></script>
	<meta charset="utf-8">
	<link rel="stylesheet" href="./public/css/formValidationCss.css">

</head>
<body>
	<h1>SignUp</h1>
	<form class="signup">
		<table>
			<tr>
				<td><label for="fullName">Full Name:</label></td>
				<td><input type="text" name="fullName" id="fullName"></td>
            </tr>
            <tr>
				<td><label for="email">Email:</label></td>
				<td><input type="text" name="email" id="email"></td>
			</tr>
			<tr>
				<td><label for="password">Password:</label></td>
				<td><input type="password" name="password" id="password"></td>
			</tr>
			
			<tr>
				<td><input type="submit" name="submit" id="submit"></td>
			</tr>
		</table>
	</form>
    <p id="displayErrors"></p>
</body>
</html>
