<div class = "loginSignContainer">
    <h3>Update Hotel</h3>
    <form (submit) = "updateHotel()">
      <div class = "form-group">
        <label>Hotel</label>
        <input type = "text" [(ngModel)] = "hotelName" class="form-control upassWidth" name= "hotelName">
      </div>
      <div class = "form-group">
        <label>Location</label>
        <input type = "text" [(ngModel)] = "location" class="form-control upassWidth" name="location">
      </div>
      <div class="form-group">
          <label>Description</label>
          <textarea class="form-control upassWidth" [(ngModel)] = "description" id="description" name = "description" rows="5"></textarea>
      </div>
      <div class = "form-group">
          <label>Services</label>
          <input type = "text" [(ngModel)] = "services" class="form-control upassWidth" name="services">
      </div>
      <div>
        <image-upload [url]="'http://localhost:3000/upload'" (uploadFinished)="onUploadFinished($event)"></image-upload>

      </div>
      <div class="form-group">
          <input type="submit" class="btn btn btn-success" value="Update">
      </div>
    </form> 

    <p *ngIf = "error">Updating hotel was unsuccessful</p>