<!--The content below is only a placeholder and can be replaced.-->


<nav class="navbar navbar-expand-lg navbar-dark bg-light navbar-inverse" *ngIf = "access">

    
    <a class="navbar-brand" href="/home" title="Home"><div style="font-size:2em; color:#FFFFFF"><i class="fab fa-accusoft"></i></div></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
          
            <li class="nav-item" *ngIf = "!userName">
                <a class="nav-link" href="/login" title = "Login"><div style="font-size:1.5em; color:#FFFFFF"><i class="fas fa-sign-in-alt"></i></div></a>
              </li>
              <li class="nav-item" *ngIf = "!userName"> 
                <a class="nav-link" href="/signUp" title = "Signup"><div style="font-size:1.5em; color:#FFFFFF"><i class="fas fa-user-plus"></i></div></a>
              </li>
              
            
            
          <div class="dropdown show">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Admin
            </a>
          
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="/newHotel">New-Hotel</a>
              <a class="dropdown-item" href="/newRoom">New-Room</a>
              <a class="dropdown-item" href="/listBookings">Bookings</a>
            </div>
          </div>         
        </ul>
        
    </div>
    <li class="nav-item listHotels" *ngIf = "userName">
        <a href="/userprofile" class="nav-link" title = "Profile"><div style="font-size:1.5em; color:#2B3E50"><i class="fas fa-user-circle"></i></div></a>
  </li>
    <li class="nav-item logout listHotels" *ngIf = "userName" (click) = "logout()" title="Logout">
        <a href="/home" class="nav-link my-2 my-sm-0"><div style="font-size:1.5em; color:#2B3E50"><i class="fas fa-sign-out-alt"></i></div></a>
  </li>
  
  </nav>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" *ngIf = "!access">
      
      <a class="navbar-brand" href="/home" title="Home"><div style="font-size:2em; color:#FFFFFF"><i class="fab fa-accusoft"></i></div></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
          
          <li class="nav-item" *ngIf = "!userName">
            <a class="nav-link" href="/login" title = "Login"><div style="font-size:1.5em; color:#FFFFFF"><i class="fas fa-sign-in-alt"></i></div></a>
          </li>
          <li class="nav-item" *ngIf = "!userName"> 
            <a class="nav-link" href="/signUp" title = "Signup"><div style="font-size:1.5em; color:#FFFFFF"><i class="fas fa-user-plus"></i></div></a>
          </li>
          
        
      </ul>
      <li class="nav-item listHotels" *ngIf = "userName">
        <a href="/userprofile" class="nav-link" title = "Profile"><div style="font-size:1.5em; color:#2B3E50"><i class="fas fa-user-circle"></i></div></a>
  </li>
      <li class="nav-item logout listHotels" *ngIf = "userName" (click) = "logout()" title="Logout">
        <a href="/home" class="nav-link my-2 my-sm-0"><div style="font-size:1.5em; color:#2B3E50"><i class="fas fa-sign-out-alt"></i></div></a>
  </li>
      </div>
  </nav>
<router-outlet></router-outlet>
